body {
	background-color: #EBEBEB;
}
.icon-home:before {
    content: "\e900"; }
.loader-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 999;
    background-color: rgba(220,220,220,0.5);
	.loader{
		top: 50%;
	}
}
.icon-home:before {
    content: "\e900"; }
.list-container {
	width: 50%;
	margin: 0 auto;
}

@media (max-width:600px) {
	.list-container {
		width: 100%;
	}
}